html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  #titleDiv {
    position: absolute;
    width: 100%;
    padding: 15px;
    line-height: 1;
    z-index: 1;
    background: #fff;
    font-family: "Avenir Next W00";
    font-size: 20px;
  }

.green-btn 
{
    background-color: green;
    color: white;
}

.red-btn
{
    background-color: red;
    color: white;
}

.orange-btn
{
    background-color: orange;
    color: white;
}